name: Python Workflow
on:
  workflow_call:
    inputs:
      python-version:
        required: true
        type: string
      aws-default-region:
        required: false
        type: string
        default: "eu-central-1"
      working-directory:
        required: false
        type: string
        default: "./"
      test-directory:
        required: false
        type: string
        default: "./"        

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ${{ inputs.working-directory }}
    env:
      AWS_DEFAULT_REGION: ${{ inputs.aws-default-region }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ inputs.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ inputs.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pylint pep8 pytest
      - name: Analysing the code with pylint
        continue-on-error: false    
        run: |
          pylint $(git ls-files '*.py')
      - name: Analysing the code with pep8
        continue-on-error: false      
        run: |
          pep8 $(git ls-files '*.py')  
      - name: Test with pytest
        continue-on-error: false
        # Note: pytest will only automatically discover and run tests in files 
        # that either start or end with "test" (or "tests"). Make sure your test 
        # files follow this naming convention. Same for test functions and methods.
        run: |
          pytest ${{ inputs.test-directory }} -v